.box{ 
  border: 1px solid black;
  min-height: 80px;
  background-color: white;
  overflow: hidden;
  .box{
    min-height:80px;
    overflow: hidden;
.box{
	
	background-color:white;
	border:2px solid black;
	min-height:300px;
	overflow:hidden;
}
.Head{
   
	background-color:white;
	border:1px solid black;
	min-height:100px;
	overflow:hidden;
       
		
}
.box4{
  min-height:100px;
    overflow: hidden;
}
.box2{
    
  border: 1px solid black;
    min-height:100px;
    overflow: hidden;
}
.box3{
    overflow: hidden;
}
.carousel-inner{
  height:350px;
    
}
.p{
  
  text-justify: 10px;
}
.page-footer font-small blue{
  background-color: black;
  font-size:10px;
  
}
Collapse
}

